In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("../data/Stock-Market-Data/sp500_daily_stock_prices(10 years).csv")
print(df.columns)
print(df.head())

Index(['Date', 'A', 'AA', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI',
       ...
       'X', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZION'],
      dtype='object', length=479)
         Date          A         AA      AAPL  ABBV        ABC       ABT  \
0  2003-07-31  13.790836  53.019848  1.019303   NaN  12.739487  9.022574
1  2003-08-01  13.676599  51.759747  1.002379   NaN  12.579965  8.859362
2  2003-08-04  13.682946  52.256149  1.025589   NaN  12.398233  8.850165
3  2003-08-05  13.219654  51.206055  0.985455   NaN  12.111500  8.700747
4  2003-08-06  13.060995  50.783653  0.949190   NaN  11.752071  8.873152

         ACN       ADBE        ADI  ...          X       XEL         XL  \
0  15.108545  16.333433  26.962475  ...  13.784163  7.946304  53.450195
1  15.816516  16.268559  28.070812  ...  13.626727  7.858501  50.491951
2  15.660917  16.523066  28.227112  ...  14.265206  7.803621  51.500431
3  15.147444  16.183720  27.132978  ...  14.195237  7.699356  51.856777
4  14.937387  15.749559  27.175615  ...  13.661716  7.748745  52.643398

        XLNX        XOM       XRAY        XRX  XYL       YUM       ZION
0  19.403030  24.283438  20.140688  23.011992  NaN  8.275629  46.391441
1  19.898077  24.112812  19.770533  22.692390  NaN  8.272863  46.557457
2  19.838972  24.303909  19.728891  21.605703  NaN  8.239684  46.673660
3  19.225708  24.126451  19.405010  21.605703  NaN  8.167795  46.325050
4  19.151808  24.399456  19.423517  21.818781  NaN  8.037839  46.648762

[5 rows x 479 columns]

In [10]:
print(df.tail())

            Date          A         AA        AAPL       ABBV        ABC  \
2871  2014-12-24  39.798771  36.984089  105.600830  59.121506  87.124428
2872  2014-12-26  40.040676  37.101357  107.467529  59.809086  87.038811
2873  2014-12-29  39.992302  37.101357  107.392113  59.951946  87.152954
2874  2014-12-30  40.031002  37.171711  106.081627  59.201881  86.820061
2875  2014-12-31  39.614918  37.030998  104.064087  58.433949  85.754784

            ABT        ACN       ADBE        ADI  ...          X        XEL  \
2871  42.459160  84.954086  74.739998  52.523140  ...  25.622986  32.722038
2872  42.598511  84.898285  74.669998  52.124886  ...  25.758299  33.038155
2873  42.366241  84.209862  74.129997  51.939648  ...  25.999937  33.643284
2874  42.449860  83.902878  73.080002  51.458046  ...  26.212574  32.857521
2875  41.827370  83.084213  72.699997  51.420998  ...  25.845289  32.442055

             XL       XLNX        XOM       XRAY        XRX        XYL  \
2871  31.923428  40.607925  83.510941  52.900780  34.542904  37.025234
2872  31.904797  40.451355  83.003365  52.979507  34.690105  37.206741
2873  32.147057  40.331627  82.878685  52.871269  34.845360  37.120770
2874  32.380005  40.110573  82.834152  52.487492  34.524998  36.710011
2875  32.025928  39.871113  82.326576  52.418613  34.155354  36.366119

            YUM       ZION
2871  48.428196  27.634029
2872  48.661060  27.672783
2873  48.940495  27.827812
2874  48.754200  27.779367
2875  48.468128  27.624340

[5 rows x 479 columns]

In [ ]:
\textbf{Seems like the last date is 2014-12-31}

SyntaxError: invalid syntax (682282081.py, line 1)