In [1]:
import pandas as pd

In [2]:
sp500_daily = pd.read_csv("../data/Stock-Market-Data/sp500_daily_stock_prices(10 years).csv")
print(sp500_daily.columns)
print(sp500_daily.head())

Index(['Date', 'A', 'AA', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI',
       ...
       'X', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZION'],
      dtype='object', length=479)
         Date          A         AA      AAPL  ABBV        ABC       ABT  \
0  2003-07-31  13.790836  53.019848  1.019303   NaN  12.739487  9.022574
1  2003-08-01  13.676599  51.759747  1.002379   NaN  12.579965  8.859362
2  2003-08-04  13.682946  52.256149  1.025589   NaN  12.398233  8.850165
3  2003-08-05  13.219654  51.206055  0.985455   NaN  12.111500  8.700747
4  2003-08-06  13.060995  50.783653  0.949190   NaN  11.752071  8.873152

         ACN       ADBE        ADI  ...          X       XEL         XL  \
0  15.108545  16.333433  26.962475  ...  13.784163  7.946304  53.450195
1  15.816516  16.268559  28.070812  ...  13.626727  7.858501  50.491951
2  15.660917  16.523066  28.227112  ...  14.265206  7.803621  51.500431
3  15.147444  16.183720  27.132978  ...  14.195237  7.699356  51.856777
4  14.937387  15.749559  27.175615  ...  13.661716  7.748745  52.643398

        XLNX        XOM       XRAY        XRX  XYL       YUM       ZION
0  19.403030  24.283438  20.140688  23.011992  NaN  8.275629  46.391441
1  19.898077  24.112812  19.770533  22.692390  NaN  8.272863  46.557457
2  19.838972  24.303909  19.728891  21.605703  NaN  8.239684  46.673660
3  19.225708  24.126451  19.405010  21.605703  NaN  8.167795  46.325050
4  19.151808  24.399456  19.423517  21.818781  NaN  8.037839  46.648762

[5 rows x 479 columns]

In [3]:
print(sp500_daily.tail())

            Date          A         AA        AAPL       ABBV        ABC  \
2871  2014-12-24  39.798771  36.984089  105.600830  59.121506  87.124428
2872  2014-12-26  40.040676  37.101357  107.467529  59.809086  87.038811
2873  2014-12-29  39.992302  37.101357  107.392113  59.951946  87.152954
2874  2014-12-30  40.031002  37.171711  106.081627  59.201881  86.820061
2875  2014-12-31  39.614918  37.030998  104.064087  58.433949  85.754784

            ABT        ACN       ADBE        ADI  ...          X        XEL  \
2871  42.459160  84.954086  74.739998  52.523140  ...  25.622986  32.722038
2872  42.598511  84.898285  74.669998  52.124886  ...  25.758299  33.038155
2873  42.366241  84.209862  74.129997  51.939648  ...  25.999937  33.643284
2874  42.449860  83.902878  73.080002  51.458046  ...  26.212574  32.857521
2875  41.827370  83.084213  72.699997  51.420998  ...  25.845289  32.442055

             XL       XLNX        XOM       XRAY        XRX        XYL  \
2871  31.923428  40.607925  83.510941  52.900780  34.542904  37.025234
2872  31.904797  40.451355  83.003365  52.979507  34.690105  37.206741
2873  32.147057  40.331627  82.878685  52.871269  34.845360  37.120770
2874  32.380005  40.110573  82.834152  52.487492  34.524998  36.710011
2875  32.025928  39.871113  82.326576  52.418613  34.155354  36.366119

            YUM       ZION
2871  48.428196  27.634029
2872  48.661060  27.672783
2873  48.940495  27.827812
2874  48.754200  27.779367
2875  48.468128  27.624340

[5 rows x 479 columns]

First date looks like its **2003-7-31**

Seems like the last date is **2024-12-31**

In [4]:
newsarticles = pd.read_csv("../data/Stock-Market-Data/sp500_news_290k_articles.csv")
print(newsarticles.columns)
print(newsarticles.head())

print(newsarticles.tail())

Index(['_id', 'compound', 'date', 'headline', 'neg', 'neu', 'pos', 'ticker',
       'time'],
      dtype='object')
                        _id  compound       date  \
0  61ec1c1ad68efb091ce207ce    0.2960  Jan-09-22
1  61ec1c1ad68efb091ce207ca    0.3612  Jan-21-22
2  61ec1c1bd68efb091ce207ec    0.0000  Nov-18-21
3  61ec1c1bd68efb091ce207ef    0.0000  Nov-16-21
4  61ec1c1dd68efb091ce2080d   -0.3182  Oct-13-21

                                            headline    neg    neu    pos  \
0  What Type Of Shareholders Make Up Agilent Tech...  0.000  0.833  0.167
1  Asset Dedication, LLC Buys Invesco BulletShare...  0.000  0.828  0.172
2  Agilent (A) to Report Q4 Earnings: What's in t...  0.000  1.000  0.000
3  Alibaba (BABA) to Report Q2 Earnings: What's i...  0.000  1.000  0.000
4  Agilent Receives FDA Companion Diagnostic Appr...  0.205  0.651  0.144

  ticker     time
0      A  06:06AM
1      A  09:38AM
2      A  09:02AM
3      A  10:23AM
4      A  04:16PM
                             _id  compound       date  \
290723  6403d2ba4575a9675d8aac0d    0.7964  Mar-02-23
290724  6403d2bc4575a9675d8aac70    0.4939  Mar-03-23
290725  6403d2bc4575a9675d8aac71    0.3400  Mar-01-23
290726  6403d2bc4575a9675d8aac72    0.8225  Mar-01-23
290727  6403d2bc4575a9675d8aac73    0.4404  Mar-01-23

                                                 headline  neg    neu    pos  \
290723  Zions Bancorporation Receives 14 Greenwich Exc...  0.0  0.496  0.504
290724  Zoetis to Participate in the TD Cowen Health C...  0.0  0.738  0.262
290725  COLL vs. ZTS: Which Stock Should Value Investo...  0.0  0.789  0.211
290726  Zoetis Secures $15.3 Million Grant to Advance ...  0.0  0.556  0.444
290727               Is Zoetis (ZTS) a Worthy Investment?  0.0  0.580  0.420

       ticker     time
290723   ZION  08:30AM
290724    ZTS  08:30AM
290725    ZTS  11:40AM
290726    ZTS  07:00AM
290727    ZTS  06:30AM

In [5]:
print(newsarticles["date"].sort_values(ascending=True))

22033     2019-12-19T00:00:00.000Z
21855     2020-01-02T00:00:00.000Z
22270     2020-01-22T00:00:00.000Z
21637     2020-01-22T00:00:00.000Z
21566     2020-02-07T00:00:00.000Z
                    ...
202626                   Sep-30-22
195645                   Sep-30-22
187935                   Sep-30-22
222051                   Sep-30-22
208796                   Sep-30-22
Name: date, Length: 290728, dtype: object

Seems like the news articles are from **2019-12-19** to **2022-9-30**

In [6]:
import openpyxl

secondarticles = pd.read_excel("../data/Stock-Market-Data/Collection of 185k News Articles.xlsx")
print(secondarticles.columns)
print(secondarticles.head())

Index(['_id', 'compound', 'date', 'headline', 'neg', 'neu', 'pos', 'ticker',
       'time'],
      dtype='object')
                        _id  compound       date  \
0  61ec1c1ad68efb091ce207c9    0.4939  Jan-21-22
1  61ec1c1ad68efb091ce207ca    0.3612  Jan-21-22
2  61ec1c1ad68efb091ce207cb    0.0000  Jan-20-22
3  61ec1c1ad68efb091ce207cc    0.0000  Jan-13-22
4  61ec1c1ad68efb091ce207cd    0.5423  Jan-10-22

                                            headline  neg    neu    pos  \
0  Strategic Wealth Investment Group, LLC Buys Va...  0.0  0.814  0.186
1  Asset Dedication, LLC Buys Invesco BulletShare...  0.0  0.828  0.172
2  G&S Capital LLC Buys NetApp Inc, The Interpubl...  0.0  1.000  0.000
3  Agilent to Webcast First-Quarter Fiscal Year 2...  0.0  1.000  0.000
4  Agilent Presents Thought Leader Award to Profe...  0.0  0.696  0.304

  ticker     time
0      A  09:38AM
1      A  09:38AM
2      A  09:38AM
3      A  04:05PM
4      A  08:18AM

In [7]:
print(secondarticles["date"].sort_values(ascending=True))

22059    2019-12-19T00:00:00.000Z
21896    2020-01-02T00:00:00.000Z
21868    2020-01-22T00:00:00.000Z
22028    2020-01-22T00:00:00.000Z
22058    2020-02-07T00:00:00.000Z
                   ...
47015                   Sep-30-21
47016                   Sep-30-21
68542                   Sep-30-21
54483                   Sep-30-21
68548                   Sep-30-21
Name: date, Length: 185548, dtype: object

The second news article is from **12-19-2019** to **9-30-21**

Dates:

Stock prices: **7-31-2003** to **12-31-2024**

News Article 1: **2019-12-19** to **2022-9-30**

News Article 2: **12-19-2019** to **9-30-21**

Seems like theres a problem since stock prices arent daily.
I think we should pull stock data from yfinance api then use the provided sentiment from news articles as a feature.

In [ ]:
import yfinance as yf

yff = yf.download("AAPL", start="2019-12-19", end="2019-12-19")
print(yff.head())

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []